<div class="weather _grid-weather">
    <p class="_block-title">
        <a href="#" class="weather__title _main-title _link-style">Погода</a>
        <a href="#" class="weather__subtitle _link-style">Карта осадков</a>
    </p>

    <div class="weather__inform">
        <a class="weather__middle-weather">
            <img src="../assets/img/cloude-removebg-preview.png" alt="cloude" class="weather__image _big-image-weather">
            <span class="weather__text _big-text _link-style">+3°</span>
        </a>

        <div class="weather__main">
            <a class="weather__inDay">
                <p class="weather__inDay-title _text-color-gray">Утром</p>
                <img src="../assets/img/cloude-removebg-preview.png" alt="cloude"
                    class="weather__inDay-image _mini-image">
                <span class="weather__text _mini-text _link-style">2°</span>
            </a>
            <a class="weather__inDay">
                <p class="weather__inDay-title _text-color-gray">Днём</p>
                <img src="../assets/img/cloude-removebg-preview.png" alt="cloude" class="weather__image _mini-image">
                <span class="weather__text _mini-text _link-style">2°</span>
            </a>
            <a class="weather__inDay">
                <p class="weather__inDay-title _text-color-gray">Вечером</p>
                <img src="../assets/img/cloude-removebg-preview.png" alt="cloude" class="weather__image _mini-image">
                <span class="weather__text _mini-text _link-style">2°</span>
            </a>
        </div>
    </div>
</div>