<nav class="apps _apps-margin">
    <ul class="apps__list">
        <li *ngFor="let app of appsData" class="apps__elem">
            <app-app-c text="{{app.text}}" img="{{app.srcImg}}" class_img="{{app.classImg}}"
                class_text="{{app.classText}}"></app-app-c>
        </li>

        <li class="apps__elem">
            <a href="#" class="app _color-link-black _link-style">
                <div class="app__logos _link-app">
                    <img src="../assets/img/Ya-poltory-circle.jpg" alt="conture" class="app__min-logo">
                    <img src="../assets/img/Ya-kinopoisk.jpg" alt="kinopoisk" class="app__min-logo">
                    <img src="../assets/img/Ya-house.jpg" alt="house" class="app__min-logo">
                    <img src="../assets/img/Ya-two-finger.jpg" alt="two-finger" class="app__min-logo">
                </div>
                <p class="app__text _text-mt-app">ещё</p>
            </a>
        </li>
    </ul>
</nav>