<div class="column-right__item">
    <div class="card">
        <app-entry-button></app-entry-button>

        <app-cart-button [num]="1" [svgContent]="svg[0]" textContent="Почта"></app-cart-button>


        <app-cart-button [num]="2" [svgContent]="svg[1]" textContent="Диск"></app-cart-button>
    </div>
</div>

<div class="column-right__item _transform-cart">
    <app-card></app-card>
</div>

<div class="column-right__item _transform-cart">
    <div class="card">

        <app-cart-button [num]="3" [svgContent]="svg[2]" textContent="Поробовать плюс"></app-cart-button>
    </div>
</div>