<div class="outside-container">
    <div class="wrapper-main-content">
        <app-header-c></app-header-c>
        <div class="column-left inside-container">

            <app-inside-container></app-inside-container>

            <div class="container-content">
                <div class="wrapper-content">
                    <app-content></app-content>
                </div>
            </div>
        </div>
    </div>

    <app-column-right></app-column-right>
</div>

<router-outlet></router-outlet>