.apps {
	box-sizing: border-box;
	@media (min-width: 1340px) {
		width: 1060px;
		padding-left: 130px;
	}

	&__list {
		margin: 5px;
		display: flex;
	}

	&__elem {
		flex: 1 1 10%;
	}

	@import "app.less";


		._width-map-logo {
			width: 30px;
		}
		._height-map-logo {
			height: 25px;
		}
	
}