.entry-button {
	display: block;
	width: 100%;
	text-align: center;
	position: relative;
	background: #f0f0f0;
	padding: 12px 0;
	font-size: 1.08em;
	border-radius: 7px;
	transition:.15s ease-out;
	font-weight: 500;
	color: #000;

	&__image {
		position: absolute;
		left: 8px;
		bottom: 7px;
	}

	&:hover {
		background: #E1E1E1;
	}
}