<header class="header  _text-color-gray">
    <div class="header__date-place _margin-top">
        <div class="header__place place _link-style">
            <span class="place__logo">
                ➤
            </span>
            <span class="place__name">
                Москва
            </span>
        </div>

        <div class="header__date">
            <span>26 ноября, пятница 23<span class="_ping">:</span>19</span>
        </div>
    </div>

    <div class="header__link _margin-top">
        <a href="#">
            <img class="header__link-market-img _filter-img _tr-header" src="../assets/img/market-removebg-preview.png">
        </a>
        <a href="#">
            <img class="header__link-notice-img _filter-img _tr-header" src="../assets/img/notice-removebg-preview.png">
        </a>
    </div>
</header>