<div class="currency">
    <p class="currency__item">
        <a href="#" class="currency__name _color-link-black _link-style">USD</a>
        <span class="currency__value">75,61</span>
        <span class="currency__percent _text-color-gray">+0,93</span>
    </p>
    <p class="currency__item">
        <a href="#" class="currency__name _color-link-black _link-style">EUR</a>
        <span class="currency__value">85,58</span>
        <span class="currency__percent _text-color-gray">+1,87</span>
    </p>
    <p class="currency__item">
        <a href="#" class="currency__name _color-link-black _link-style">НЕФТЬ</a>
        <span class="currency__value">72,46</span>
        <span class="currency__percent _text-color-red">−11,91%</span>
    </p>
</div>