<section class="content">
    <div class="content__ad">
        <app-ad-food style="display: block" class="_flex-row"></app-ad-food>

        <a href="#">
            <div class="ad-food _content-sidebar-framing _flex-row">

                <img src="../assets/img/cacke.png" alt="cacke" class="ad-food__image">

                <div class="ad-food__wrapper">
                    <div class="ad-food__stroc">
                        <div class="account">
                            <img src="../assets/img/avatar-removebg-preview.png" alt="аватарка" class="account__avatar">
                            <div class="account__text">
                                <div class="account__link">
                                    <a href="#" class="account__name _color-link-black">
                                        Uzbek_food
                                    </a>
                                    <a href="#" class="account__subscribe">
                                        <span class="_color-link-black">•</span> Подписаться
                                    </a>
                                </div>
                                <p>94 тыс. подписчиков</p>
                            </div>
                        </div>

                        <div class="actions">
                            <img src="../assets/img/three-dots-removebg-preview.png" alt="" class="actions__dots">
                        </div>
                    </div>



                    <div class="ad-food__video-block">
                        <div class="video">

                            <div class="video__text _video-max-w _pad-null">
                                <p class="video__text-name">
                                    <a href="#" class="_color-link-black">
                                        Начинаю есть и остановиться не получается - только прятать
                                        (яблочное печенье за 20 минут, мое любимое)
                                    </a>
                                </p>
                                <p class="video__text-info">
                                    <a href="#" class="_color-inherit">
                                        Очень простое тесто. Тут даже не нужно уметь готовить.
                                        Получается всегда идеально!...
                                    </a>
                                </p>
                                <p class="video__text-info">
                                    <a href="#" class="_color-inherit">
                                        23 августа
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ad-food__stroc">
                        <div class="coment">
                            <div class="coment__wrapper-avatar">
                                <img src="../assets/img/avatar-removebg-preview.png" alt="аватарка"
                                    class="coment__avatar1">
                                <img src="../assets/img/avatar-removebg-preview.png" alt="аватарка"
                                    class="coment__avatar2">
                            </div>
                            <div class="coment__text">
                                <span class="_text-number-com">
                                    141
                                </span>
                                комментарий
                            </div>
                        </div>

                        <div class="grade">
                            <div class="grade__item">
                                <img src="../assets/img/like-removebg-preview.png" alt="" class="grade__img">
                            </div>
                            <div class="grade__item">
                                <img src="../assets/img/like-removebg-preview.png" alt=""
                                    class="grade__img _like-rotate">
                            </div>
                            <div class="grade__item">
                                <img src="../assets/img/pereslat-removebg-preview.png" alt="" class="grade__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="content__zen">
        <app-zen></app-zen>
    </div>
</section>