<div class="video">
    <video src="video/S7_Airlines.mp4" class="video__player" loop="loop" autoplay="autoplay" muted="defaultMuted">

    </video>

    <div class="video__text">
        <p class="video__text-name">
            <a href="#" class="_color-link-black">
                Сколько мест – столько зим
            </a>
        </p>
        <p class="video__text-info">
            <a href="#" class="_color-inherit">
                28 апреля • 624 просмотра
            </a>
        </p>
    </div>
</div>