<div class="news _grid-news">
    <div class="news__title-block">
        <a class="news__title _main-title _link-style">Сейчас в СМИ jaded</a>
        <a class="news__title _main-title _link-style _color-midle-title">в Москве</a>
        <a class="news__title _last-title _link-style">Коронавирус</a>
    </div>

    <div class="news__main">
        <a href="" class="news__headline _color-link-black _link-style">
            <img src="../assets/img/RT-logo-square.webp" alt="TR" class="news__headline-logo">
            <p class="news__headline-text">Байден призвал отменить патентные ограничения на вакцины
                от COVID-19</p>
        </a>
        <a href="" class="news__headline _color-link-black _link-style">
            <img src="../assets/img/circle-logo-square.webp" alt="circle" class="news__headline-logo">
            <p class="news__headline-text">Суд приговорил автора Telegram-канала «Устинов троллит» к
                14 годам колонии</p>
        </a>
        <a href="" class="news__headline _color-link-black _link-style">
            <img src="../assets/img/T-logo-square.webp" alt="T" class="news__headline-logo">
            <p class="news__headline-text">Зеленский заявил о получении информации о готовящемся на
                Украине госперевороте</p>
        </a>
        <a href="" class="news__headline _color-link-black _link-style">
            <img src="../assets/img/G-logo-square.webp" alt="G" class="news__headline-logo">
            <p class="news__headline-text">Губернатор Кузбасса отправил в отставку главу
                Прокопьевска за банкет во время траура</p>
        </a>
        <a href="" class="news__headline _color-link-black _link-style">
            <img src="../assets/img/match-logo-square.webp" alt="match" class="news__headline-logo">
            <p class="news__headline-text">Место проведения стыкового матча ЧМ-2022 Россия — Польша
                назовут до 9 декабря</p>
        </a>
    </div>

    <div class="news__currency">
        <app-currency></app-currency>
    </div>
</div>