<div class="traffic _grid-traffic">
    <p class="_block-title">
        <a href="#" class="traffic__title _main-title _link-style">Пробки</a>
        <a href="#" class="traffic__subtitle _link-style">Метро</a>
        <a href="#" class="traffic__subtitle _link-style">Расписания</a>
        <a href="#" class="traffic__subtitle _link-style">Такси</a>
    </p>

    <div class="traffic__inform">
        <a class="traffic__middle-traffic">
            <img src="../assets/img/green_light-removebg-preview.png" alt="ligths"
                class="traffic__image _big-image-lights">
            <span class="traffic__text _big-text _link-style">3</span>
        </a>

        <a href="#" class="_color-link-black _link-style traffic__inDay">До конца дня дороги
            свободны</a>
    </div>
</div>