<div class="zen _content-sidebar-framing">

    <img src="../assets/img/zen-logot.png" alt="Дзен" class="zen__logo">
    <p class="zen__text">РЕКОМЕНДУЕМ</p>

    <ul class="zen__list">
        <a href="#">
            <li class="zen__list-item _color-link-black _link-style">
                кино
            </li>
        </a>
        <a href="#">
            <li class="zen__list-item _color-link-black _link-style">
                путешествия
            </li>
            <a href="#">
                <li class="zen__list-item _color-link-black _link-style">
                    наука
                </li>
            </a>
            <a href="#">
                <li class="zen__list-item _color-link-black _link-style">
                    технологии
                </li>
            </a>
            <a href="#">
                <li class="zen__list-item _color-link-black _link-style">
                    стиль
                </li>
            </a>
            <a href="#">
                <li class="zen__list-item _color-link-black _link-style">
                    знаменитости
                </li>
                <a href="#">
                    <li class="zen__list-item _color-link-black _link-style">
                        культура
                    </li>
                </a>
                <a href="#">
                    <li class="zen__list-item _color-link-black _link-style">
                        спорт
                    </li>
                </a>
                <a href="#">
                    <li class="zen__list-item _color-link-black _link-style">
                        финансы
                    </li>
                </a>
                <a href="#">
                    <li class="zen__list-item _link-style">
                        политика
                    </li>
                </a>
            </a>
        </a>
    </ul>

</div>